{% extends 'base.html' %}

{% block content %}
<table border=1>
	<tr>
		<th>Soknad ID</th>
		<th>Foresatt 1 ID</th>
		<th>Foresatt 2 ID</th>
		<th>Barn ID</th>
		<th>Barnevern</th>
		<th>Sykd familie</th>
		<th>Sykd barn</th>
		<th>Annet</th>
		<th>Barnehage prioritet</th>
		<th>Sosken i barnehagen</th>
		<th>Oppstart</th>
		<th>Brutto inntekt</th>
		<th>Status</th>
	</tr>
	
	{% for i in range(0, len) %}	
	<tr>
		<td>{{ soknader[i]['sok_id'] }}</td>
		<td>{{ soknader[i]['foresatt_1'] }}</td>
		<td>{{ soknader[i]['foresatt_2'] }}</td>
		<td>{{ soknader[i]['barn_1'] }}</td>
		<td>{{ soknader[i]['fr_barnevern'] }}</td>
		<td>{{ soknader[i]['fr_sykd_familie'] }}</td>
		<td>{{ soknader[i]['fr_sykd_barn'] }}</td>
		<td>{{ soknader[i]['fr_annet'] }}</td>
		<td>{{ soknader[i]['barnehager_prioritert'] }}</td>
		<td>{{ soknader[i]['sosken__i_barnehagen'] }}</td>
		<td>{{ soknader[i]['tidspunkt_oppstart'] }}</td>
		<td>{{ soknader[i]['brutto_inntekt'] }}</td>
		<td>{{status[i]}}</td>
	{% endfor %}
	</tr>
</table>
{% endblock %}